.compareContainer {
  width: 100%;
  margin-top: 130px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.compareHeader {
  width: 95%;
  height: 198px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.compareBackButton {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}
.compareHederTextBox {
}

.compareHederText {
  font-size: 27px !important;
  color: #000;
  font-family: "Poppins-Bold" !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 130% !important;
}
.compareHederSubText {
  color: #000;
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 130% !important;
}
.compareTopButtonBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
}
.differentButton {
  width: 154px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #ea4335;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}
.differentButton p {
  font-size: 13px !important;
  color: #ea4335;
  font-family: "Poppins-Regular" !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 130% !important;
}
.removeButton {
  width: 154px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #ea4335;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.removeButton p {
  font-size: 13px !important;
  color: #ea4335;
  font-family: "Poppins-Regular" !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 130% !important;
}
.compareProjectBox {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.CompareItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 72px;
}
.property_items {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 23px;
}
.ratingLogoBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 45px;
  align-items: center;
  background: #edf3ff;
  padding: 0 24px;
  justify-content: center;
}
.ratingLogoBoxText {
  margin-right: 82px !important;
}
.productCardBox {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.productInfoBox {
  width: 100%;
  margin-top: 30px;
}
.tinBox {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  background: #edf3ff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.whiteBox {
  width: 100%;
  height: 45px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.tinBox p {
  color: #202020;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 130% !important;
}
.whiteBox p {
  color: #202020;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 130% !important;
}
.tinBoxItem {
  width: 246px;
  display: flex;
  align-items: center;
}
.whiteBoxItem {
  width: 246px;
  display: flex;
  align-items: center;
}
.firstCompareItem {
  display: none;
}
/* Tab view*/
@media only screen and (min-width: 768px) {
  .compareProjectBox {
    width: 80%;
  }
  .tinBox {
    padding: 0 10px;
  }
  .whiteBox {
    padding: 0 10px;
  }
  .compareHederText {
    font-size: 36px !important;
  }
  .differentButton {
    width: 280px;
    height: 45px;
  }
  .differentButton p {
    font-size: 16px !important;
  }
  .removeButton {
    width: 170px;
    height: 45px;
  }
  .removeButton p {
    font-size: 16px !important;
  }
  .ratingLogoBoxText {
    margin-right: 100px !important;
  }
  .compareHeader {
    margin-bottom: 50px;
  }
  .compareBackButton {
    margin-bottom: 0px;
  }
}

/* Desktop view */
@media only screen and (min-width: 1000px) {
  .compareHeader {
    width: 75%;
    margin-bottom: 0px;
  }
  .compareProjectBox {
    width: 75%;
    flex-direction: row;
    height: 914px;
    align-items: end;
    margin-bottom: 100px;
  }
  .firstCompareItem {
    display: block;
  }
  .CompareItem {
    align-items: normal;
    margin-bottom: 0;
  }
  .tinBox {
    border-radius: 0px;
  }
  .ratingLogoBox {
    justify-content: start;
  }
  .ratingLogoBoxText {
    margin-right: 0px;
  }
}
