.reviewContainer {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.04);
  flex-shrink: 0;
  margin-bottom: 20px;
  transition: all 0.5s;
}
.reviewHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 67px;
}
.reviewHeaderRettingText {
  font-size: 11px !important;
}
.startLogos {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}
.startLogos img {
  width: 15px;
  height: 15px;
}
.review_box {
  width: 100%;
  height: 300px;
  border-top: 1px solid #eee;
  padding: 20px;
}
.reviewText {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 7px;
}
.userImg {
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  /* background: #10d093; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}
.userImg p {
  color: #fff;
  font-family: "Poppins-Bold" !important;
}
.userNameBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.userName {
  color: #888;
  font-family: "Poppins-Regular" !important;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 130% !important;
}
.reviewTitle {
  margin-bottom: 14px;
}
.reviewTitleText {
  color: #222;
  font-family: "Poppins-Regular" !important;
  font-size: 17px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 130% !important;
}
.review_Text {
  width: 92%;
  margin-bottom: 15px;
}
.review_Text p {
  color: #8e8e8e;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: normal !important;
}
.reviewTime {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reviewTime p {
  color: #888;
  font-family: "Poppins-Regular" !important;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 130% !important;
}
/* open review box */
.reviewOpenContainer {
  width: 800px;
  height: 800px;
  border-radius: 10px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
  flex-shrink: 0;
  margin-bottom: 20px;
  padding: 30px 33px;
  transition: width 0.5s;
  position: relative;
}
.reviewRatingLogo {
  width: 40px;
  height: 40px;
  margin-top: 8px;
  border-radius: 50%;
}

.ratingOpenHeader {
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: row;
  position: relative;
}
.ratingOpenHeader img {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 97%;
  bottom: -25px;
  cursor: pointer;
}
.ratingOpenTextBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.reviewOpenHeaderText {
  color: #3c3c3c;
  font-family: "Poppins-Bold" !important;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal !important;
  margin-bottom: 7px;
}
.reviewRating {
  width: 50%;
}
.reviewRatingHeader {
  display: flex;
  flex-direction: row;
  height: 64px;
  align-items: center;
  margin-top: 11px;
}
.reviewRatingSubHeaderText {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.reviewRatingStar {
  display: flex;
  flex-direction: row;
}
.reviewRatingStar img {
  width: 16px;
  height: 16px;
}
.openRatingGraStar {
  width: 47px;
  height: 47px;
}
.RatingSubHeaderText {
  color: #888;
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 130% !important; /* 20.8px */
  letter-spacing: 0.32px !important;
}
.ratingOpenContent {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.ratingItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}
.ratingLogo {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50%;
  position: relative;
}
.ratingLogoBorder1 {
  position: absolute;
  left: -8px;
  bottom: 0px;
}
.ratingLogoBorder15 {
  position: absolute;
  left: -8px;
  bottom: -9px;
}
.ratingLogoBorder2 {
  position: absolute;
  left: -8px;
  bottom: -31px;
}
.ratingLogoBorder25 {
  position: absolute;
  left: -8px;
  bottom: -41px;
}
.ratingLogoBorder3 {
  position: absolute;
  left: -8px;
  bottom: -49px;
}
.ratingLogoText {
  color: #000;
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 130% !important; /* 20.8px */
  letter-spacing: 0.32px !important;
}
.ratingItemText {
  color: #1c1c1c;
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 26px !important; /* 162.5% */
  margin-left: 20px !important;
}
.reviewReview {
  width: 50%;
}
.review_headerBox {
  display: flex;
  flex-direction: column;
}
.review_headerBoxText {
  color: #3c3c3c;
  font-family: "Poppins-Bold" !important;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal !important;
  text-align: center;
  margin-bottom: 14px !important;
}
.review_sub_header {
  color: #3c3c3c;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal !important;
  padding-left: 22px;
  margin-top: 24px !important;
}
.user_NameBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}
.star_logo_box {
  display: flex;
  flex-direction: row;
  margin-left: 92px;
}
.star_logo_box img {
  width: 15px;
  height: 15px;
}
.review_Open_contentBox {
  height: 86%;
  overflow: scroll;
  overflow-x: hidden;
}
.review_open_box {
  width: 100%;
  padding: 20px 0 0px 20px;
}
.reviewCard_userName {
  color: #272727;
  font-family: "Poppins-Regular" !important;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 130% !important;
}
.reviewOpenDate {
  color: #888;
  font-family: "Poppins-Regular" !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 130% !important;
}
.reviewTitleText {
  color: #676767;
  font-family: "Poppins-Regular" !important;
  font-size: 17px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 130% !important;
}
.review_open_Text p {
  color: #737373;
  font-family: "Poppins-Regular" !important;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal !important;
}
.reviewRatingHeaderText {
  margin-left: 16px;
}
.search_Field {
  width: 332px;
  height: 34px;
  /* border: 1px solid; */
  display: flex;
  flex-direction: row;
}
.search_Field div {
  width: 332px;
}
.search_Input input {
  height: 1px !important;
  background-color: #f2f2f3;
  border-radius: 22px;
  padding-left: 55px;
}
.search_Input fieldset {
  border-radius: 72px !important;
}
.display {
  display: none;
}

@media only screen and (min-width: 768px) {
  .reviewContainer {
    width: 683px;
    height: auto;
  }
  .reviewHeaderRettingText {
    font-size: 16px !important;
  }
  .startLogos {
    margin-right: 10px;
  }
  .review_box {
    height: 239px;
  }
  .display {
    display: block;
  }
}
