.dontBox {
  width: 100%;
  position: relative;
}
.dontContainer {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.04);
  flex-shrink: 0;
  margin-bottom: 20px;
  overflow: hidden;
  transition: all 0.5s;
}
.dontOpenContainer {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
  padding: 0px 50px;
  margin-bottom: 20px;
  transition: all 0.5s;
}
.doTextBox {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
}
.doBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.doBoxHeader {
  /* border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec; */
}
.sideBorder {
  border-right: 0px solid #ececec;
}
.DontHeader {
  height: 67px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 0px;
  /* border-bottom: 1px solid #ececec; */
}
.bottom_Border {
  border-bottom: 1px solid #ececec;
}
.doBoxHeader p {
  color: #000;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 26px !important;
  text-align: center;
}
.doBoxText {
  /* padding: 20px 10px 16px 20px; */
  height: auto;
  border-top: 1px solid #ececec;
}
.amenities_Text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.dontPopUpBox {
  width: 100%;
  position: absolute;
  top: 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 9;
}
.dontRedCrossMargin {
  margin-left: 37%;
}

@media only screen and (min-width: 768px) {
  .dontContainer {
    width: 683px;
    height: 281px;
  }
  .dontOpenContainer {
    width: 800px;
  }
  .doTextBox {
    flex-direction: row;
    border: 1px solid #ececec;
  }
  .doBoxText {
    border-bottom: 0px;
  }
  .doBox {
    width: 50%;
  }
  .bottom_Border {
    border-bottom: 0px solid #ececec;
  }
  .sideBorder {
    border-right: 1px solid #ececec;
  }
  .dontRedCrossMargin {
    margin-left: 59%;
  }
}
