.paginationButton.disabled {
  cursor: auto;
  opacity: 0.5;
}
.paginationButton.active {
  color: #ffffff;
  font-size: 15px;
  background: #ea4335;
}
.paginationContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.paginationContainer span {
  width: 29px;
  height: 29px;
  margin: 0px 10px;
  cursor: pointer;
  border: 1px solid #ea4335;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.removeText {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  top: -25px;
  cursor: pointer;
}
.removeNoneText {
  display: none;
}
.crossLogo {
  width: 10px;
  height: 10px;
}
.removeText p {
  color: #ea4335;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 130% !important;
}
