.paginationButton.disabled {
  cursor: auto;
  opacity: 0.5;
}
.paginationButton.active {
  color: #ffffff;
  font-size: 15px;
  background: #ea4335;
}
.paginationContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.paginationContainer span {
  width: 29px;
  height: 29px;
  margin: 0px 10px;
  cursor: pointer;
  border: 1px solid #ea4335;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.removeText {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  top: -25px;
  cursor: pointer;
}
.removeNoneText {
  display: none;
}
.crossLogo {
  width: 10px;
  height: 10px;
}
.removeText p {
  color: #ea4335;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 130% !important;
}
.propertiesCard {
  width: 280px;
  height: 350px !important;
  position: relative;
  margin: 0px 20px;
}
.logo_Box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 40px;
  background: #fff;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 4px #0000000a;
  border-radius: 100px;
  padding: 0 10px;
  position: absolute;
  bottom: 86px;
  right: 12px;
}
.cardText1stHeader {
  font-family: "Poppins-Bold" !important;
  font-size: 18px !important;
  margin-bottom: 5px !important;
  font-weight: 600 !important;
  color: #333;
}
.cardStarBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
  align-items: center;
}
.borderHeartLogo {
  position: absolute;
  top: 19px;
  left: 250px;
}
.comparerTextBox {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 768px) {
  .propertiesCard {
    width: 280px;
    height: 100%;
    position: relative;
    margin: 0px 15px;
  }
  .logo_Box {
    right: 15px;
  }
  .borderHeartLogo {
    /* left: 269px; */
  }
  .removeNoneText {
    display: none;
  }
}
/* Desktop view */
@media only screen and (min-width: 1000px) {
  .removeNoneText {
    display: none;
  }
}
