.overviewContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.menuBox {
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: sticky;
  top: 100px;
  display: none;
  align-items: center;
  overflow: scroll;
}
.mobileViewMenu {
  width: 100%;
  height: 60px;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
  overflow: scroll;
  overflow-x: hidden;
}

.menuItem {
  /* width: 147px; */
  display: flex;
  height: 36px;
  flex-direction: row;
  align-items: center;
  margin: 12px 5px;
  transition: border 0.1s;
  justify-content: center;
}

.overviewActive:hover > p {
  color: #ea4335;
}

.menuItem:hover {
  border-bottom: 5px #ea4335 solid;
}
.menuItem:hover > p {
  color: #ea4335;
}

.menuItem p {
  width: 147px;
  color: #000;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.mainItemBox {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.04);
  flex-shrink: 0;
  margin-bottom: 20px;
}

.venueDetails {
  height: 92px;
}
.verified {
  width: 100% !important;
  height: 129px;
  display: flex;
  flex-direction: column;
}
.verifyBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 52px;
  padding-top: 5px;
}
.verifyBoxBorderBottom {
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
}
.verifyHeaderText {
  color: #3c3c3c;
  font-family: "Poppins-Bold" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 26px !important; /* 162.5% */
}
.verifySubText {
  color: #1c1c1c;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 26px !important; /* 173.333% */
}
.Description {
  height: auto;
  transition: all 0.5s;
}
.DescriptionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 67px;
  border-bottom: 1px solid #ececec;
}
.descriptionIconBox {
  width: 50px;
  height: 50px;
}
.descriptionTextBox {
  height: 155px;
  transition: all 0.5s;
  padding: 20px 20px 0px 20px;
  overflow: hidden;
}
.descriptionHeaderText {
  color: #3c3c3c;
  font-family: "Poppins-Bold" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal !important;
}
.descriptionGrayText {
  color: #d2cccc;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 26px !important;
}

.descriptionText {
  color: #1c1c1c;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 26px !important;
}
.seeMoreText {
  width: 111px;
  color: #ea4335;
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 26px !important;
  cursor: pointer;
}

.Amenities {
  height: 355px;
  overflow: hidden;
  transition: all 1s;
}
.AmenitiesSeeMore {
}
.AmenitiesOpen {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 515px;
  flex-shrink: 0;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
  padding: 15px 0px 20px 0px;
  height: auto;
  transition: all 0.5s;
}
.amenitiesHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 67px;
  border-bottom: 1px solid #ececec;
}
.AmenitiesIconBox {
  width: 50px;
  height: 50px;
}
.amenitiesTextBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 20px 0px 20px;
}
.amenitiesTextBoxOpen {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
}
.amenitiesText {
  width: 52%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.amenitiesText p {
  color: #1c1c1c;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 26px !important;
}
.amenitiesItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
}
.DisplayBookingRequest {
  display: flex;
}
.DisplayNoneBookingRequest {
  display: none;
}

.bookingRequest {
  width: 339px;
  height: 432px;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 100px;
}
.dayCross {
  position: absolute !important;
  width: 20px;
  height: 20px;
  top: 219px !important;
  left: 304px !important;
  cursor: pointer;
}
.priseBox {
  width: 294px;
  height: 92px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ea4335;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
}
.priceText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.priseBox p {
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 99.7%;
}
.priseInputBox {
  width: 339px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
}
.priseInputBoxHeight1 {
  height: 408px;
}
.priseInputBoxHeight2 {
  height: 484px;
}
.priseInputItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.priseInputItem input {
  height: 18px;
  width: 305px;
}
.priseInputItem fieldset {
  border-radius: 10px;
  border-color: #eaeaea !important;
}
.pSize {
  height: 51px !important;
}
.priseInputItem img {
  position: relative;
  left: 139px;
  top: 28px;
}
.priseDateInput {
  flex-direction: column;
}
.priseDateInput input:focus {
  outline: none;
}
.priseDateInput img {
  left: 39px;
  top: 29px;
}
.pSize::placeholder {
  font-size: 14px !important;
  color: rgba(128, 128, 128, 0.726);
}
.DateFieldInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.DateField_Input {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 19px;
}
.requestBookingBtn {
  width: 305px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ea4335;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.redBtnText {
  color: #fff;
  text-align: center;
  font-family: "Poppins-Bold" !important;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 99.7% !important; /* 17.946px */
}

.hostDetailsDisplay {
  display: flex;
}
.hostDetailsDisplayNone {
  display: none;
}

.hostDetails {
  width: 339px;
  height: 208px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 21px;
  position: sticky;
}
#hostDetails1 {
  margin-top: 7px;
  top: 587px;
}
#hostDetails2 {
  margin-top: 133px;
  top: 664px;
}
.hostDetailsBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 110px;
  justify-content: space-between;
}
.avatarImage {
  width: 87px;
  height: 87px;
  border-radius: 48px;
  overflow: hidden;
}
.avatarInfo {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.hostHeaderText {
  color: #000;
  font-family: "Poppins-Bold" !important;
  font-size: 17px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 99.7% !important; /* 16.949px */
}
.avatarDetailsTextField {
  display: flex;
  flex-direction: row;
}
.hostDetailsLabel {
  color: #b7b7b7;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 99.7% !important; /* 13.958px */
}
.hostDetailsLabelText {
  color: #000;
  font-family: "Poppins-Bold" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 99.7% !important;
}

.mainBox {
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.totalPriseBox {
  display: flex;
  flex-direction: revert;
  justify-content: space-between;
  width: 296px;
}
.TotalPriseText {
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 99.7% !important;
  cursor: pointer;
}
.venueDetailsBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  overflow: hidden;
  align-items: center;
}
.bottomVDT p {
  font-size: 10px !important;
}
.venueDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.04);
  flex-shrink: 0;
}
.venueDetailsFirst {
  justify-content: flex-start;
}
.bottomBorder {
  border-bottom: 1px solid #eee;
}
.venueDetailsItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.venueDetailsItem p {
  color: #333;
  text-align: center;
  font-family: "Poppins-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px; /* 185.714% */
  margin-top: 5px;
}
.venueDetailsIcon {
  width: 16px;
  height: 16px;
  margin-bottom: 5px;
}
.BookingBtnLink {
  text-decoration: none;
}
.amenitiesTextArya {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
}
.amenitiesTextVisibility {
  display: none;
}
.buyingHoverBox {
  width: 100%;
  height: 107px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.17);
  position: fixed;
  top: 74%;
  z-index: 9999;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.requestBookingBtn {
  width: 194px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ea4335;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.messageHostButton {
  width: 138px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #390a05;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buyingHoverBtnText {
  color: #fff;
  text-align: center;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 99.7% !important; /* 13.958px */
}
.buyingHoverBtnClicked {
  background: #e6e6e6 !important;
}
.buyingHoverBtnTextClicked {
  color: #c0c0c0 !important;
}
.buyingBox {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
}
.bookingPosition {
  top: 114px;
}
.hostPosition {
  top: 430px;
}
@media only screen and (min-width: 768px) {
  .mainBox {
    margin: 0px 30px;
  }
  .overviewContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .menuBox {
    width: 219px;
    height: 460px;
    padding: 11px 0px;
    border-radius: 10px;
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: inherit;
  }
  .buyingHoverBox {
    display: none;
  }
  .menuItem {
    width: 100%;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    margin: 12px 0px;
  }
  .menuItem p {
    font-size: 17px !important;
  }
  .mobileViewMenu {
    display: none;
  }
  .menuItem p {
    width: 200px;
    justify-content: start;
  }
  .menuItem:hover {
    border-left: 5px #ea4335 solid;
    border-bottom: 0;
  }
  .venueDetails {
  }
  .bottomVDT p {
    font-size: 14px !important;
  }
  .verified {
    height: 121px;
    flex-direction: row;
  }
  .verifyBox {
    width: 50%;
    padding-left: 15px;
    justify-content: center;
  }
  .verifyBoxBorderBottom {
    border-bottom: 0px solid #eee;
    padding-bottom: 0px;
  }
  .mainItemBox {
    width: 683px;
  }
  .descriptionHeaderText {
    font-size: 20px !important;
  }
  .AmenitiesSeeMore {
    /* padding-left: 54%; */
  }
  .Amenities {
    height: 373px;
  }
  .amenitiesTextArya {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
  }
  .amenitiesText {
    width: 35%;
  }
  .AmenitiesOpen {
    width: 800px;
    padding: 15px 50px 17px 50px;
  }
  .amenitiesTextVisibility {
    display: flex;
  }
  .bookingRequest {
    display: flex;
  }
  .hostDetails {
    display: flex;
  }
  .buyingBox {
    width: auto;
    display: block;
    position: relative;
  }
  #hostDetails1 {
    margin-top: 55px;
  }
}
