.popupBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Dimmed background color with transparency */
  z-index: 1; /* Place the backdrop below the popup */
}
.overviewContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.menuBox {
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: sticky;
  top: 100px;
  align-items: center;
  overflow: scroll;
}
.leftSideMenu {
  display: none;
}
.mobileViewMenu {
  width: 100%;
  height: 85px;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
  overflow: scroll;
}

.menuItem {
  display: flex;
  height: 36px;
  flex-direction: row;
  align-items: center;
  margin: 12px 5px;
  transition: border 0.1s;
  justify-content: center;
}

.overviewActive:hover > p {
  color: #ea4335;
}

.menuItem:hover {
  border-bottom: 5px #ea4335 solid;
}
.menuItem:hover > p {
  color: #ea4335;
}

.menuItem p {
  width: 147px;
  color: #000;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.mainItemBox {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.04);
  flex-shrink: 0;
  margin-bottom: 20px;
}

.verified {
  width: 100% !important;
  height: 129px;
  display: flex;
  flex-direction: column;
}
.verifyBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 52px;
  padding-top: 5px;
}
.verifyBoxBorderBottom {
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
}
.verifyHeaderText {
  color: #3c3c3c;
  font-family: "Poppins-Bold" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 26px !important; /* 162.5% */
}
.verifySubText {
  color: #1c1c1c;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 26px !important; /* 173.333% */
}
.Description {
  height: auto;
  transition: all 0.5s;
  position: relative;
}
.DescriptionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 67px;
  border-bottom: 1px solid #ececec;
}
.descriptionIconBox {
  width: 50px;
  height: 50px;
}
.descriptionTextBox {
  height: 155px;
  transition: all 0.5s;
  padding: 20px 20px 0px 20px;
  overflow: hidden;
}
.descriptionHeaderText {
  color: #3c3c3c;
  font-family: "Poppins-Bold" !important;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal !important;
}
.descriptionGrayText {
  color: #d2cccc;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 26px !important;
}

.descriptionText {
  color: #1c1c1c;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 26px !important;
}
.DescriptionPopUp {
  width: 98%;
  max-width: 681px;
  position: fixed; /* Use fixed position to ensure centering */
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 9;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.descriptionPopUpTextBox {
  padding: 20px 20px 20px 20px;
  height: 410px;
  overflow: scroll;
  overflow-x: hidden;
}
.descriptionRedCrossMargin {
  margin-left: 9%;
}
.AmenitiesRedCrossMargin {
  margin-left: 44%;
}

.seeMoreText {
  width: 111px;
  color: #ea4335;
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 26px !important;
  cursor: pointer;
}

.Amenities {
  height: 355px;
  overflow: hidden;
  transition: all 1s;
  position: relative;
}
.AmenitiesSeeMore {
  margin-top: 24px;
}
.AmenitiesOpen {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 515px;
  flex-shrink: 0;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
  padding: 15px 0px 20px 0px;
  height: auto;
  transition: all 0.5s;
}
.amenitiesHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 67px;
  border-bottom: 1px solid #ececec;
}
.AmenitiesIconBox {
  width: 50px;
  height: 50px;
}
.amenitiesTextBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding: 20px 20px 0px 20px; */
}
.amenitiesTextBoxOpen {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
}
.amenitiesText {
  width: 52%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.amenitiesText p {
  color: #1c1c1c;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 26px !important;
}
.amenitiesItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
}

.amenitiesPopupBox {
  width: 98%;
  max-width: 681px;
  height: auto;
  z-index: 9;
  position: fixed;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
}
.amenitiesTextAryaBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.amenitiesScrollBox {
  overflow: scroll;
  width: 100%;
  height: 425px;
  overflow-x: hidden;
}

.DisplayBookingRequest {
  display: flex;
}
.booking_Request {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buying_Box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bookingRequest {
  width: 339px;
  height: 432px;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 233px;
}
.dayCross {
  position: absolute !important;
  width: 20px;
  height: 20px;
  top: 219px !important;
  left: 304px !important;
  cursor: pointer;
}
.priseBox {
  width: 294px;
  height: 92px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ea4335;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
}
.priceText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.priseBox p {
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 99.7%;
}
.priseInputBox {
  width: 339px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
}
.priseInputBoxHeight1 {
  height: 408px;
}
.priseInputBoxHeight2 {
  height: 484px;
}
.priseInputItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.priseInputItem input {
  height: 18px;
  width: 305px;
}
.priseInputItem fieldset {
  border-radius: 10px;
  border-color: #eaeaea !important;
}
.pSize {
  height: 51px !important;
}
.priseInputItem img {
  position: relative;
  left: 139px;
  top: 28px;
}
.priseDateInput {
  flex-direction: column;
}
.priseDateInput input:focus {
  outline: none;
}
.priseDateInput img {
  left: 39px;
  top: 29px;
}
.pSize::placeholder {
  font-size: 14px !important;
  color: rgba(128, 128, 128, 0.726);
}
.DateFieldInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.DateField_Input {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 19px;
}
.requestBookingBtn {
  width: 305px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ea4335;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.redBtnText {
  color: #fff;
  text-align: center;
  font-family: "Poppins-Bold" !important;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 99.7% !important; /* 17.946px */
}

.hostDetailsDisplay {
  display: flex;
}
.hostDetails {
  width: 339px;
  height: 208px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 21px;
  position: sticky;
}
#hostDetails1 {
  margin-top: 7px;
  top: 718px;
}
#hostDetails2 {
  margin-top: 133px;
  top: 664px;
}
.hostDetailsBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 110px;
  justify-content: space-between;
}
.avatarImage {
  width: 87px;
  height: 87px;
  border-radius: 48px;
  overflow: hidden;
}
.avatarInfo {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.hostHeaderText {
  color: #000;
  font-family: "Poppins-Bold" !important;
  font-size: 17px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 99.7% !important; /* 16.949px */
}
.avatarDetailsTextField {
  display: flex;
  flex-direction: row;
}
.hostDetailsLabel {
  color: #b7b7b7;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 99.7% !important; /* 13.958px */
}
.hostDetailsLabelText {
  color: #000;
  font-family: "Poppins-Bold" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 99.7% !important;
}

.mainBox {
  width: 98%;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.totalPriseBox {
  display: flex;
  flex-direction: revert;
  justify-content: space-between;
  width: 296px;
}
.TotalPriseText {
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 99.7% !important;
  cursor: pointer;
}
.venueDetailsBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  overflow: hidden;
  align-items: center;
}
.bottomVDT p {
  font-size: 10px !important;
}
.venueDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 92px;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.04);
  flex-shrink: 0;
}
.venueDetailsScroll {
  overflow: scroll;
  justify-content: space-between;
}
.venueDetailsScroll > * {
  flex: 0 0 112px;
}
.venueDetailsFirst {
  justify-content: center;
}
.bottomBorder {
  border-bottom: 1px solid #eee;
}
.venueDetailsItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  border: 1px solid #a6a6a6;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.04);
}
.crossLine {
  width: 97px;
  height: 52px;
  position: absolute;
  top: 17px;
}
.venueDetailsItem p {
  color: #333;
  text-align: center;
  font-family: "Poppins-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px; /* 185.714% */
  margin-top: 5px;
}
.venueDetailsIcon {
  width: 24px;
  height: 24px;
  /* margin-bottom: 5px; */
}
.BookingBtnLink {
  text-decoration: none;
}
.amenitiesTextArya {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  padding: 0px 20px 0px 20px;
}

.bookingPaymentPage {
  width: 100%;
  height: auto;
  transition: all 0.5s;
  border-radius: 10px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.04);
  flex-shrink: 0;
  margin-bottom: 20px;
  padding-top: 36px;
}
.buyingHoverBox {
  width: 100%;
  height: 107px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.17);
  position: fixed;
  top: 74%;
  z-index: 9999;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.requestBookingBtn {
  width: 194px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ea4335;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.messageHostButton {
  width: 138px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #390a05;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buyingHoverBtnText {
  color: #fff;
  text-align: center;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 99.7% !important; /* 13.958px */
}
.buyingHoverBtnClicked {
  background: #e6e6e6 !important;
}
.buyingHoverBtnTextClicked {
  color: #c0c0c0 !important;
}
.buyingBox {
  display: none;
}
.bookingPosition {
  top: 114px;
}
.hostPosition {
  top: 430px;
}
.leftMargin {
  margin-left: 0px;
}
.amenitiesTextArya {
  height: auto;
}

/* Tab view*/
@media only screen and (min-width: 768px) {
  .mainBox {
    width: 683px;
    margin: 0px 30px;
  }
  .buyingHoverBox {
    display: none;
  }
  .venueDetails {
    overflow: inherit;
  }
  .verified {
    height: 121px;
    flex-direction: row;
  }
  .verifyBox {
    width: 50%;
    padding-left: 15px;
    justify-content: center;
  }
  .verifyBoxBorderBottom {
    border-bottom: 0px solid #eee;
    padding-bottom: 0px;
  }
  .mainItemBox {
    /* width: 683px; */
  }
  .descriptionHeaderText {
    font-size: 20px !important;
  }
  .AmenitiesSeeMore {
    margin-top: 43px;
  }
  .Amenities {
    height: 373px;
    position: relative;
  }
  .amenitiesTextArya {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
  }
  .amenitiesTextAryaOpenHeight {
    height: auto;
  }
  .amenitiesTextAryaCloseHeight {
    height: 251px;
  }
  .amenitiesText {
    width: 35%;
  }
  .AmenitiesOpen {
    width: 800px;
    padding: 15px 50px 17px 50px;
  }
  .amenitiesTextVisibility {
    display: flex;
  }
  .bookingRequest {
    display: flex;
  }
  .hostDetails {
    display: flex;
  }
  .buyingBox {
    display: none;
  }
  #hostDetails1 {
    margin-top: 55px;
  }
  .venueDetailsFirst {
    justify-content: space-between;
  }
  .descriptionRedCrossMargin {
    margin-left: 38%;
  }
  .amenitiesPopupBox {
    width: 682px;
    height: 515px;
    top: 50%;
    overflow: hidden;
  }
  .AmenitiesRedCrossMargin {
    margin-left: 63%;
  }
  .leftMargin {
    margin-left: 124px;
  }
  .descriptionPopUpTextBox {
    height: auto;
  }
}

/* Desktop view */
@media only screen and (min-width: 1000px) {
  .mainBox {
    margin: 0px 30px;
  }
  .overviewContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }
  .leftSideMenu {
    display: block;
    height: 4123px;
  }
  .menuBox {
    width: 219px;
    height: 470px;
    padding: 11px 0px;
    border-radius: 10px;
    display: flex;
    position: sticky;
    top: 233px;
    flex-direction: column;
    align-items: flex-start;
    overflow: inherit;
  }
  .buyingHoverBox {
    display: none;
  }
  .menuItem {
    width: 100%;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    margin: 12px 0px;
  }
  .menuItem p {
    font-size: 17px !important;
  }
  .menuItem p {
    width: 200px;
    justify-content: start;
  }
  .menuItem:hover {
    border-left: 5px #ea4335 solid;
    border-bottom: 0;
  }
  .venueDetails {
    overflow: inherit;
  }
  .verified {
    height: 121px;
    flex-direction: row;
  }
  .verifyBox {
    width: 50%;
    padding-left: 15px;
    justify-content: center;
  }
  .verifyBoxBorderBottom {
    border-bottom: 0px solid #eee;
    padding-bottom: 0px;
  }
  .mainItemBox {
    width: 683px;
  }
  .descriptionHeaderText {
    font-size: 20px !important;
  }
  .AmenitiesSeeMore {
    margin-top: 43px;
  }
  .Amenities {
    height: 373px;
    position: relative;
  }
  .amenitiesTextArya {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
  }
  .amenitiesTextAryaOpenHeight {
    height: auto;
  }
  .amenitiesTextAryaCloseHeight {
    height: 251px;
  }
  .amenitiesText {
    width: 35%;
  }
  .AmenitiesOpen {
    width: 800px;
    padding: 15px 50px 17px 50px;
  }
  .amenitiesTextVisibility {
    display: flex;
  }
  .bookingPaymentPage {
    display: none;
  }
  .bookingRequest {
    display: flex;
  }
  .hostDetails {
    display: flex;
  }
  .buyingBox {
    width: auto;
    height: 4123px;
    display: block;
    position: relative;
  }
  #hostDetails1 {
    margin-top: 55px;
  }
  .descriptionRedCrossMargin {
    margin-left: 38%;
  }
  .amenitiesPopupBox {
    width: 682px;
    height: 515px;
    overflow: hidden;
  }
  .AmenitiesRedCrossMargin {
    margin-left: 63%;
  }
  .leftMargin {
    margin-left: 124px;
  }
  .mobileViewMenu {
    display: none;
  }
}
