/* Mobile view */
.blogContainer {
  width: 100%;
  margin-top: 96px;
}

.blog-bg {
  background-color: black;
  position: relative;
  z-index: 1;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner-content {
  padding: 150px 0;
  margin: 0 auto;
  max-width: 1300px;
  min-height: 450px;
}

.banner-content h1 {
  font-size: 42px;
  font-weight: 700;
  color: #FFFFFF;
}

.banner-content h6 {
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  max-width: 700px;
}

.blog-content {
  padding: 100px 0;
  margin: 0 auto;
  max-width: 1300px;
}

.blog-content h2 {
  font-size: 32px;
  font-weight: 700;
  color: #143146;
  padding: 15px 0 0 0;
}

.blog-content h6 {
  font-size: 18px;
  font-weight: 700;
  color: #143146;
  padding: 5px 0;
}

.blog-content p {
  font-size: 16px;
  font-weight: 400;
  color: #143146;
  padding: 5px 0;
}

.blog-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogfilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.blogfilter .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  left: 20px;
}

.blogfilter .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: #F2F2F3;
  border-color: #E3E3E7 !important;
  border-radius: 70px !important;
}

.blogfilter input[type="text"] {
  padding: 15px 50px 15px 30px;
}

.blogfilter .search {
  position: relative;
}

.blogfilter .search::after {
  content: "";
  width: 52px;
  height: 52px;
  background: url(./icon-search.png) no-repeat center;
  position: absolute;
  right: 5px;
  top: 0;
}

.blogfilter .filter {
  position: relative;
}

.blogfilter .filter::after {
  content: "";
  width: 52px;
  height: 52px;
  background: url(./icon-filter.png) no-repeat center;
  position: absolute;
  right: 5px;
  top: 0;
}

.blogfilter .sortby {
  position: relative;
}

.blogfilter .sortby::after {
  content: "";
  width: 52px;
  height: 52px;
  background: url(./icon-sortby.png) no-repeat center;
  position: absolute;
  right: 5px;
  top: 0;
}

.blog-mid {
  padding: 30px 0;
}

.blog {
  margin: 30px auto;
  padding: 25px;
  background-color: #FFFFFF;
  border-radius: 10px !important;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.12) !important;
  min-height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog .figure {
  margin: 0;
  padding: 0;
  width: 320px;
  border-radius: 10px;
}

.blog .article {
  margin: 0;
  padding: 0;
  width: calc(100% - 350px);
}

.blog .article ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.blog .article ul li {
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
}

.readmore {
  margin-top: 10px !important;
  background-color: #EA4335 !important;
  border-radius: 10px !important;
  text-transform: none !important;
  box-shadow: none !important;
}

.blog-bot {
  display: flex;
  justify-content: center;
  text-align: center;
}

.blog-bot .css-lqq3n7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #EA4335 !important;
  color: #FFFFFF !important;
}

/* Tab view*/
@media only screen and (max-width:760px) {
  .banner-content {
    padding: 50px 15px;
    min-height: 200px;
  }

  .banner-content h1 {
    font-size: 24px;
  }

  .banner-content h6 {
    font-size: 16px;
  }

  .blog-content {
    padding: 30px 15px;
  }

  .blog-top {
    flex-direction: column;
    width: 100%;
  }

  .blogfilter {
    flex-wrap: wrap;
    gap: 10px;
  }

  .blogfilter .search {
    position: relative;
    width: 100%;
    flex: 100%;
  }

  .blog {
    margin: 15px auto;
    padding: 15px;
    flex-wrap: wrap;
  }

  .blog .figure {
    width: 100%;
    flex: 100%;
  }

  .blog .article {
    width: calc(100% - 0);
    flex: 100%;
  }

  .blog-content h2 {
    font-size: 24px;
  }

}

/* Desktop view */
@media only screen and (min-width:761px) and (max-width:1023px) {
  .banner-content {
    padding: 100px 15px;
    min-height: 200px;
  }

  .blog-content {
    padding: 30px 15px;
  }
}

@media only screen and (min-width:1024px) and (max-width:1320px) {
  .banner-content {
    padding: 100px 15px;
    min-height: 200px;
  }

  .blog-content {
    padding: 50px 15px;
  }
}