.propertySearchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 92px;
  flex-direction: column;
  align-items: center;
}
.propertySHeader {
  width: 95%;
  min-width: 375px;
  height: 205px;
  display: flex;
  flex-direction: column;
  border-radius: 19px;
  padding: 20px 0px;
  background: #fff;
  box-shadow: 7px 22px 41px 0px rgba(1, 1, 1, 0.07);
}
.bottomFilterWB {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.filterBox {
  width: 100%;
  display: flex;
  height: 65px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 950px;
  min-width: 550px;
}
.filterItem {
  width: 97px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  cursor: pointer;
}
.filterItemSideBorder {
  border-right: 1px solid #e8e8e8;
}
.filterItemHeaderBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filterItemHeader {
  color: #444;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal !important;
  margin-right: 4px !important;
}
.filterItemSubHeader {
  color: #999;
  font-family: "Poppins-Regular" !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal !important;
}

.MsearchBtn {
  width: 186.776px;
  height: 50.532px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #ea4335;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MsearchBtn p {
  color: #fff;
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal !important;
}
.property_search_Field {
  width: 100%;
  height: 34px;
  /* border: 1px solid; */
  display: flex;
  flex-direction: row;
  position: relative;
}
.property_search_Field div {
  width: 100%;
}
.secondFilterBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin: 30px 0;
  padding: 0 10px;
}

.filterButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 118.045px;
  height: 42.104px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #f2f2f2;
}
.shortByBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 118.045px;
  height: 42.104px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #f2f2f2;
  position: relative;
}
.filter_btn_text {
  color: #555;
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal !important;
}
.showMapBtn {
  width: auto;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.showMapBtn p {
  color: #333;
  font-family: "Poppins-Regular" !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 20px !important;
}
.propertyCard {
  width: 75%;
}
.propertyCard_Map {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.property_card_box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
}
.propertyfW {
  width: 100%;
}
.propertyhW {
  width: 100%;
}
.property_card_box .propertiesCard {
  margin: 20px 13px;
}

.property_map_box {
  width: 100%;
  margin-bottom: 50px;
}
.property_map_box > div > div:nth-child(2) {
  width: 100% !important;
}
.property_map_box > div > div > div:nth-child(1) {
  height: 50vh !important;
}
.mpaToggleSwitch {
  width: 40px;
  height: 20px;
  background-color: #d8d8d8;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  max-width: 50px;
  min-width: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.mpaToggleSwitchWhiteBtn {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}
.EventList {
  flex-direction: column;
  width: 189px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  z-index: 1;
  padding: 2px;
}
.eventItem {
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  border-bottom: 1px solid rgb(128 128 128 / 25%);
  z-index: 1;
  transition: background 0.5s;
}
.eventItem p {
  color: #484848;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 20px !important;
  letter-spacing: 0.13px !important;
  padding-left: 16px;
  transition: font-size 0.2s;
}
.eventItem:hover {
  border-radius: 8px;
  border: 1px solid #ea4335;
  background: rgb(255, 209, 205);
}
.eventItem:hover p {
  font-size: 17px !important;
}
.storByPopUpBox {
  position: absolute;
  top: 49px;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .propertySearchContainer {
    margin-top: 128px;
  }
  .propertySHeader {
    width: 75%;
    min-width: 771px;
    max-width: 1166px;
    height: 176px;
    padding: 20px 17px;
  }
  .filterItem {
    width: 20%;
    height: 100%;
  }
  .property_search_Field div {
    width: 85%;
  }
  .filterItemHeader {
    font-size: 20px !important;
    margin-right: 11px !important;
  }
  .filterItemSubHeader {
    font-size: 15px !important;
  }
  .bottomFilterWB {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
  }
  .property_card_box {
    flex-direction: row;
    min-width: 654px;
  }
  .propertyCard_Map {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  .property_map_box {
    width: 50%;
  }
  .property_map_box > div > div:nth-child(2) {
    width: 35% !important;
  }
  .property_map_box > div > div > div:nth-child(1) {
    height: 100vh !important;
  }
  .secondFilterBox {
    width: 75%;
  }
  .propertyhW {
    width: 50%;
  }
}
