.propertySearchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 92px;
  flex-direction: column;
  align-items: center;
}
.propertySHeader {
  width: 95%;
  min-width: 375px;
  height: 205px;
  display: flex;
  flex-direction: column;
  border-radius: 19px;
  padding: 20px 0px;
  background: #fff;
  box-shadow: 7px 22px 41px 0px rgba(1, 1, 1, 0.07);
}
.bottomFilterWB {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.filterBox {
  width: 100%;
  display: flex;
  height: 65px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 950px;
  min-width: 550px;
}
.filterItem {
  width: 97px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  cursor: pointer;
  position: relative;
}
.filterItemSideBorder {
  border-right: 1px solid #e8e8e8;
}
.filterItemHeaderBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filterItemHeader {
  color: #444;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal !important;
  margin-right: 4px !important;
}
.filterItemSubHeader {
  color: #999;
  font-family: "Poppins-Regular" !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal !important;
}

.MsearchBtn {
  width: 186.776px;
  height: 50.532px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #ea4335;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MsearchBtn p {
  color: #fff;
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal !important;
}
.property_search_Field {
  width: 100%;
  height: 34px;
  /* border: 1px solid; */
  display: flex;
  flex-direction: row;
  position: relative;
}
.property_search_Field div {
  width: 100%;
}
.secondFilterBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin: 30px 0;
  padding: 0 10px;
}

.filterButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 118.045px;
  height: 42.104px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #f2f2f2;
}
.shortByBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 118.045px;
  height: 42.104px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #f2f2f2;
  position: relative;
}
.filter_btn_text {
  color: #555;
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal !important;
}
.showMapBtn {
  width: auto;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.showMapBtn p {
  color: #333;
  font-family: "Poppins-Regular" !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 20px !important;
}
.propertyCard {
  width: 75%;
}
.propertyCard_Map {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.property_card_box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
}
.propertyfW {
  width: 100%;
}
.propertyhW {
  width: 100%;
}
.property_card_box .propertiesCard {
  margin: 20px 13px;
}

.property_map_box {
  width: 100%;
  margin-bottom: 50px;
}
.property_map_box > div > div:nth-child(2) {
  width: 100% !important;
}
.property_map_box > div > div > div:nth-child(1) {
  height: 50vh !important;
}
.mpaToggleSwitch {
  width: 40px;
  height: 20px;
  background-color: #d8d8d8;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  max-width: 50px;
  min-width: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.mpaToggleSwitchWhiteBtn {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}
.EventList {
  flex-direction: column;
  width: 189px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  z-index: 1;
  padding: 2px;
  position: absolute;
  top: 64px;
}
.storByPopUpPosition {
  top: 6px;
  right: -60px;
}
.eventItem {
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  border-bottom: 1px solid rgb(128 128 128 / 25%);
  z-index: 1;
  transition: background 0.5s;
}
.eventItem p {
  color: #484848;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 20px !important;
  letter-spacing: 0.13px !important;
  padding-left: 16px;
  transition: font-size 0.2s;
}
.eventItem:hover {
  border-radius: 8px;
  border: 1px solid #ea4335;
  background: rgb(255, 209, 205);
}
.eventItem:hover p {
  font-size: 17px !important;
}
.storByPopUpBox {
  position: absolute;
  top: 49px;
  z-index: 1;
}
.PopUpSearchField {
  border: 1px solid #ea4335;
  background: rgb(255, 209, 205);
  border-radius: 8px;
  height: 30px;
  padding: 5px;
}
.PopUpSearchField:focus {
  outline: none;
}
.filterPopUpBox {
  width: 850px;
  max-width: 681px;
  height: auto;
  z-index: 9;
  position: fixed;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  height: 89vh;
}
.filterPopUpscrollBox {
  width: 100%;
  height: 93%;
  /* border: 1px solid; */
  overflow: scroll;
  overflow-x: hidden;
}
.filterPupNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 13px; */
}
.filterNavItem1 {
  width: 50%;
  display: flex;
  justify-content: end;
}
.filterNavItem2 {
  width: 40%;
  display: flex;
  justify-content: end;
}
.filterNavItem2 img {
  position: relative;
  right: -49px;
  top: -8px;
}
.filterPupNav p {
  color: #444;
  font-family: "Poppins-Regular" !important;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal !important;
}
.popUpCotenantBox {
  display: flex;
  flex-direction: column;
}
.priceFilterBox {
  width: 100%;
  border-top: 1px solid #e8e8e8;
}
.priceFilterHeader {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.priceFilterHeader p {
  color: #444;
  font-family: "Poppins-Regular" !important;
  font-size: 25px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 195.16% !important;
}
.priceFilterLabelBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.priceFromBox {
  width: 130px;
  height: 34px;
  display: flex;
  flex-direction: row;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #8b8b8b;
  margin-left: 10px;
}
.priceFilterLabelItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.priceFromInrText {
  color: #000;
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal !important;
}
.priceFromInrPrice {
  color: #000;
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal !important;
}
.ActivitiesFilterBox {
  border-top: 1px solid #e8e8e8;
}
.activitiesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.activitiesBoxItem {
  width: 149px;
  height: 85px;
  padding: 19px 16px;
  border-radius: 11.639px;
  border: 0.5px solid rgba(34, 34, 34, 0.5);
  background: #fff;
  margin-right: 16px;
}
.activitiesBoxItem img {
  margin-left: 15px;
}
.activitiesBoxItem p {
  color: #000;
  text-align: center;
  font-family: "Poppins-Regular" !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 16px !important;
}
.City_AreaBox {
  border-top: 1px solid #e8e8e8;
  margin-top: 20px;
}
.City_AreaContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.AreaContainerItem {
  width: 50%;
}
.areaHederText {
  color: #444;
  font-family: "Poppins-Regular" !important;
  font-size: 25px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 195.16% !important;
}
.cityDropDown {
  width: 282px;
  height: 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 0 10px;
}
.cityDropDown p {
  color: rgba(45, 55, 72, 0.53);
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 20px !important;
  letter-spacing: 0.16px !important;
}
.Amenities_FeaturesBox {
  border-top: 1px solid #e8e8e8;
  margin-top: 20px;
}
.Amenities_FeaturesContainer {
  display: flex;
  flex-direction: column;
}
.AmenitiesBox {
  position: relative;
  margin-top: 10px;
}
.AmenitiesHeaderText {
  color: #222;
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 20px !important;
  margin-left: 12px !important;
}
.Check_Box {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
.check_box_item {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.check_box_item p {
  color: #222;
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 20px !important;
}
.ShowMoreText {
  color: #444;
  margin-right: 5px !important;
  font-family: "Poppins-Regular" !important;
  font-size: 11px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 24px !important;
}
.AmenitiesShow {
  position: absolute;
  top: 130px;
  right: 0px;
}
.AmenitiesShowActive {
  position: absolute;
  top: 203px;
  right: 0px;
}
.FeaturesBox {
  position: relative;
  margin-top: 10px;
}
.FeaturesShow {
  position: absolute;
  top: 123px;
  right: 0px;
}
.FeaturesShowActive {
  position: absolute;
  top: 203px;
  right: 0px;
}
.FeaturesHeaderText {
  color: #222;
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 20px !important;
  margin-left: 12px !important;
}
.PropertiesCheckBox {
  border-top: 1px solid #e8e8e8;
  margin-top: 20px;
  padding: 10px 0px;
}
.PropertiesCheckItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.PropertiesCheckBox {
  display: flex;
  flex-direction: column;
}
.PropertiesTextBox {
  display: flex;
  flex-direction: column;
}
.PropertiesHeaderText {
  color: #000;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 195.16% !important;
}
.PropertiesSbuText {
  color: #000;
  font-family: "Poppins-Regular" !important;
  font-size: 10px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 195.16% !important;
}
.CustomerReviewBox {
  border-top: 1px solid #e8e8e8;
  margin-top: 20px;
}
.CustomerReviewContainer {
  display: flex;
  flex-direction: column;
}
.startBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.startBox img {
  width: 20px;
  height: 20px;
  margin: 2px;
}

@media only screen and (min-width: 768px) {
  .propertySearchContainer {
    margin-top: 128px;
  }
  .propertySHeader {
    width: 75%;
    min-width: 771px;
    max-width: 1166px;
    height: 176px;
    padding: 20px 17px;
  }
  .filterItem {
    width: 20%;
    height: 100%;
  }
  .property_search_Field div {
    width: 85%;
  }
  .filterItemHeader {
    font-size: 20px !important;
    margin-right: 11px !important;
  }
  .filterItemSubHeader {
    font-size: 15px !important;
  }
  .bottomFilterWB {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
  }
  .property_card_box {
    flex-direction: row;
    min-width: 654px;
  }
  .propertyCard_Map {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  .property_map_box {
    width: 50%;
  }
  .property_map_box > div > div:nth-child(2) {
    width: 35% !important;
  }
  .property_map_box > div > div > div:nth-child(1) {
    height: 100vh !important;
  }
  .secondFilterBox {
    width: 75%;
  }
  .propertyhW {
    width: 50%;
  }
}
