.homeContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 84px;
  position: relative;
}
.coverContainer {
  position: relative;
}
.coverGallerySlider {
  display: block;
}
.coverGallery {
  display: none;
}

.whiteBtnText {
  color: #fff;
  font-family: "Poppins-Regular" !important;
  font-size: 13px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 130% !important;
}
.PrintPreviewBtn img {
  width: 19px;
  height: 19px;
  margin-right: 11px;
}

.topWhiteTab {
  width: 71px;
  height: 29px;
  border-radius: 9px;
  /* background: #fff; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 4px;
}
.topTabLogo {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.shareItemBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.shareItem {
  width: 139px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
  margin: 6px 5px;
}
.shareSubHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.shareBoxHeaderText {
  color: #202020;
  font-family: "Poppins-Bold" !important;
  font-size: 19px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 26px !important;
}
.shareId {
  color: #202020;
  font-family: "Poppins-Bold" !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 26px !important;
  margin-right: 5px;
}
.shareBoxSubHeaderText {
  color: #383838;
  font-family: "Poppins-Regular" !important;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 130% !important;
  display: flex;
  align-items: center;
}
.shareItem img {
  width: 20px;
  height: 20px;
  margin: 0px 15px 0px 19px;
}
.subImageBox {
  width: 282px;
  height: 282px;
}

.venueLocation {
  width: 94%;
  height: 180px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 10px;
  position: relative;
}
.ClickHereTab {
  width: 65px;
  height: 22px;
  flex-shrink: 0;
  border-radius: 10.5px;
  background: #ea4335;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 19px;
  cursor: pointer;
}
#clickHereText {
  color: #fff;
  font-family: "Poppins-Regular" !important;
  font-size: 10px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal !important;
}

.locationHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.locationHeader h5 {
  font-size: 25px !important;
}
.locationId {
  color: #1a1a1a;
  font-family: "Poppins-Bold" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 130% !important;
  margin-bottom: 8px !important;
}
.CityLocation {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.startLogos {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}
.startLogos img {
  width: 25px;
  height: 25px;
}
.bottomMargin {
  margin-bottom: 10px;
}
.ShowGalleryTabBox {
  display: flex;
  justify-content: end;
}
.ShowGalleryTab {
  width: 141px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 23px;
  border: 1px solid rgba(255, 255, 255, 0.36);
  background: rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 194px;
  margin-right: 17px;
  cursor: pointer;
}
.ShowGalleryTab p {
  color: #fff;
  font-family: "Poppins-Regular" !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal !important;
  text-transform: lowercase;
}
.cityLocationTextBox {
  display: flex;
  margin: 4px 0px;
}
.divider {
  display: none;
}
.showGalleryBox {
  position: absolute;
  top: -113px;
  z-index: 9999;
  width: 100%;
  height: 100vh;
}

/* Tab view*/
@media only screen and (min-width: 768px) {
  .homeContainer {
    margin-top: 112px;
  }
  .venueLocation {
    width: 100%;
    margin: 20px 0;
  }
  .coverGallery {
    width: 100%;
    height: 50%;
    display: block;
    overflow: hidden;
    border-radius: 10px;
  }
  .coverGallerySlider {
    display: none;
  }
  .galleryImage {
    width: 100%;
  }

  .ShowGalleryTab {
    width: 170px;
    height: 47px;
  }
  .locationHeader h5 {
    font-size: 25px !important;
  }
  .CityLocation {
    flex-direction: row;
    align-items: center;
  }
  .divider {
    display: block;
  }
  .locationId {
    font-size: 18px !important;
  }
}
/* Desktop view */
@media only screen and (min-width: 1000px) {
  .coverContainer {
    width: 85%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .venueLocation {
    max-width: 1305px;
  }

  .ShowGalleryTabBox {
    width: 100%;
    max-width: 1305px;
  }
  .coverGallery {
    max-width: 1305px;
  }
}
