.userPlansContainer {
  width: 100%;
  margin: 120px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.userPlansHeaderBox {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.userPlansHeader {
  color: #000;
  font-family: "Poppins-Regular" !important;
  font-size: 25px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 130% !important;
}
.userPlansSubHeader {
  color: #000;
  font-family: "Poppins-Regular" !important;
  font-size: 11px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 130% !important;
}
.userPlansBox {
  width: 98%;
  height: 925px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  padding: 35px;
  align-items: center;
}
.plansHederBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.plansSubscriptionHeder p {
  color: #000;
  font-family: "Poppins-Regular" !important;
  font-size: 25px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 130% !important;
}
.plansRadioBox {
  display: flex;
  flex-direction: row;
}
.plansInfoBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.plansInfoItem {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin: 15px 0;
  border-top: 1px solid rgb(245 245 245);
}
.plansInfoItemSecond {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(245 245 245);
}
.ItemSecondM {
  margin-top: 34px;
}

.plansInfoLabel {
  color: #353535;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 26px !important;
}
.plansSId {
  color: #6917ef;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal !important;
}
.plansStandard {
  color: #ea4335;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal !important;
}
.plansExpires {
  color: #1a1919;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal !important;
}
.plansActive {
  color: #0dc51f;
  font-family: "Poppins-Regular" !important;
  font-size: 19px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal !important;
}
.plansAddress {
  color: #ff0c0c;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal !important;
}
.plansPaidAmount {
  color: #ea4335;
  font-family: "Poppins-Regular" !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal !important;
}
.placeBtnBox {
  margin-top: 20px;
}
.plansUpgradeBtn {
  width: 264px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ea4335;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
}
.plansUpgradeBtn:hover {
  background: #e96256;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.plansUpgradeBtn p {
  color: #fff;
  font-family: "Poppins-Regular" !important;
  font-size: 17px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}
.PlansRadioLabelText {
  font-size: 11px !important;
}
.plansInfoTextBox {
  margin-bottom: 10px;
}
/* Tab view*/
@media only screen and (min-width: 768px) {
  .userPlansBox {
    width: 98%;
    padding: 35px 11px;
    height: 465px;
    justify-content: space-between;
    align-items: start;
  }
  .userPlansHeaderBox {
    width: 98%;
  }
  .userPlansHeader {
    font-size: 36px !important;
  }
  .userPlansSubHeader {
    font-size: 15px !important;
  }
  .plansSubscriptionHeder p {
    font-size: 36px !important;
  }
  .plansInfoBox {
    width: 100%;
    flex-direction: row;
    height: 220px;
  }
  .plansInfoItem {
    margin: 0px;
    justify-content: space-between;
    border: none;
  }
  .plansInfoItemSecond {
    border: none;
  }
  .placeBtnBox {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .PlansRadioLabelText {
    font-size: 14px !important;
  }
  .plansInfoTextBox {
    margin-bottom: 0px;
  }
  .plansHederBox {
    width: 100%;
    padding-right: 23px;
  }
}
/* Desktop view */
@media only screen and (min-width: 1000px) {
  .userPlansBox {
    width: 80%;
    padding: 35px;
  }
  .userPlansHeaderBox {
    width: 80%;
  }
}
