.app {
  width: 100%;
  text-align: center;
  /* padding: 20px; */
}

.image-slider {
  position: relative;
  max-width: 1319px;
  margin: 0 auto;
}

.slider-container {
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  display: flex;
  transition: transform 0.3s ease;
}

.slides img {
  width: 100%;
  height: auto;
}

.thumbnail-container {
  justify-content: center;
  margin-top: 10px;
}

.thumbnails img {
  width: 80px;
  height: 60px;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid transparent;
}

.thumbnails img.active {
  border-color: #f00; /* Highlight color for active thumbnail */
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
@media screen and (max-width: 768px) {
  .slides img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .thumbnails img {
    width: 60px;
    height: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .thumbnail-container {
    margin-top: 23px;
  }

  .prev-button {
    left: -65px;
    width: 40px;
  }
  .prev-button img {
    width: 100%;
  }
  .next-button img {
    width: 100%;
  }
  .next-button {
    width: 40px;
    right: -61px;
  }
  .slides {
    align-items: center;
    height: 60vh;
  }
  .thumbnails img {
    width: 231px;
    height: 143px;
  }
}

@media only screen and (min-width: 768px) {
  .prev-button {
    left: 24px;
  }
  .next-button {
    right: 24px;
  }
  .prev-button,
  .next-button {
    top: 40%;
  }
}
@media only screen and (min-width: 1000px) {
}
