.favoritesMainContainer {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 132px;
  justify-content: center;
  position: relative;
}

.favoritesContainer {
  width: 85%;
}

.favoritesHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.favoritesHeaderText {
  color: #000;
  font-family: "Poppins-Bold" !important;
  font-size: 36px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 130% !important;
}

.favoritesSubHeader {
  color: #000;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 130% !important;
}

.storyButton p {
  color: #808080;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 130% !important;
}

.compareButton {
  width: 150px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 72px;
  background: #ea4335;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compareButton p {
  font-size: 11px !important;
  color: #fff;
  font-family: "Poppins-Regular" !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal !important;
}

.storyButton {
  width: 100px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 72px;
  border: 0.8px solid #e3e3e7;
  background: #f2f2f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerItems {
  margin: 0px 3px;
}

.search_Bar {
  position: relative;
}

.favoriteContentBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.menu_Box {
  width: 302px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.menuItem {
  cursor: pointer;
}

.menuItem p {
  color: #333;
  font-family: "Poppins-Regular" !important;
  text-align: center;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 26px !important;
}

.MenuMargin {
  margin-left: 15px !important;
}

.menuItemBox {
  width: 302px;
  height: 193px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin-bottom: 20px;
  box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 0.12);
}

.CreateListButton {
  width: 301px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ea4335;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CreateListButton p {
  color: #fff;
  text-align: center;
  font-family: "Poppins-Regular" !important;
  font-size: 17px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 26px !important;
  margin-right: 5px !important;
}

.CardBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-bottom: 30px;
}

.productContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.productContainer span {
  /* margin: 0 15px; */
}

.CreateListBtn {
  width: 100px;
  height: 35px;
  background: #2e0704;
}

.CreateListBtn p {
  font-size: 11px !important;
  color: #fff;
  text-align: center;
  font-family: "Poppins-Regular" !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 26px !important;
}

.createListPopUp {
  width: 373px;
  height: 500px;
  z-index: 9;
  position: fixed;
  background: #fff;
  border-radius: 33px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.whiteCrossImage {
  position: absolute;
  top: -37px;
  right: -40px;
  border-radius: 10px;
}

.listBoxHeader {
  display: flex;
  flex-direction: column;
  position: relative;
}

.listHeaderText {
  color: #1f212a;
  font-family: "Poppins-Regular" !important;
  font-size: 26px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal !important;
}

.listSubText {
  color: #000;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: normal !important;
}

.listNameBox p {
  color: #000;
  font-family: "Poppins-Regular" !important;
  font-size: 17px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 130% !important;
}

.listNameInput {
  width: 100%;
  background: #f2f2f3;
}

.listNameInput input {
  height: 9px;
}

.descriptionInput {
  width: 100%;
  /* height: 300px !important; */
}

.descriptionInput input {
  background: #f2f2f3;
  height: 115px;
  text-align: start;
}

.listButtonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 36px;
}

.grayCancelBtn {
  width: 137px;
  height: 41px;
  flex-shrink: 0;
  width: 137px;
  height: 41px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 72px;
  border: 0.8px solid #e3e3e7;
  background: #f2f2f3;
}

.grayCancelBtn p {
  color: #201f1f;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 130% !important;
}

.ListCreateBtn {
  width: 123px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 72px;
  background: #ea4335;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ListCreateBtn p {
  color: #fff;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 130% !important;
}

.naveFirstBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.favoritesHeaderSearchBar {
  display: flex;
  justify-content: center;
  margin-bottom: 79px;
}

.NavSecondBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.favoritesHeader {
  width: 100%;
  height: 213px;
  height: auto;
  flex-direction: column;
  align-items: start;
}

/* FavoritesList */
.favoritesListContainer {
  width: 100%;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.favoritesListHeader {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.favoritesListHeaderText p {
  color: #000;
  font-family: "Poppins-Regular" !important;
  font-size: 27px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal !important;
}

.favoritesListAddBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #ea4335;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
}

.favoritesRedAddBtn {
  color: #ea4335;
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 130% !important;
}

.favoriteListItemBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.favoritesCard {
  width: 302px;
  height: 281px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  margin: 10px 10px;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
}

.optionIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favoritesCardCover img {
  width: 143px;
  height: 143px;
}

.favoritesCardTest {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.FCardTitle {
  color: #1a1a1a;
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 24px !important;
}

.FCardDate {
  color: #ea4335;
  font-family: "Poppins-Regular" !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 130% !important;
}

.favoritesOptionPupUP {
  width: 109px;
  height: auto;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 25px;
  right: 37px;
  border-radius: 3px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.FCardOptionItem {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s;
}

.FCardOptionItem:hover {
  background-color: #f1f1f1;
}

.FCardOptionItemB {
  border-bottom: 1px solid rgba(184, 184, 184, 0.116);
}

.FCardOptionItem p {
  color: #000;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 39px !important;
}

/* Tab view*/
@media only screen and (min-width: 768px) {
  .favoritesHeaderTextBox {
    margin-bottom: 20px;
  }

  .favoritesHeader {
    height: auto;
  }

  .storyButton {
    width: 131px;
    height: 48px;
  }

  .CreateListBtn {
    width: 165px;
    height: 48px;
  }

  .compareButton {
    width: 210px;
    height: 48px;
  }

  .headerItems {
    margin: 0px 15px;
  }

  .CreateListBtn p {
    font-size: 17px !important;
  }

  .compareButton p {
    font-size: 15px !important;
  }

  .favoritesHeaderSearchBar {
    margin-top: 26px;
  }

  .NavSecondBox {
    margin-top: 20px;
  }

  .createListPopUp {
    width: 572px;
  }

  .listButtonBox {
    justify-content: end;
  }

  /* FavoritesList */
  .favoritesListHeader {
    width: 90%;
  }

  .favoriteListItemBox {
    width: 90%;
    justify-content: center;
  }
}

/* Desktop view */
@media only screen and (min-width: 1000px) {
  .favoritesHeader {
    flex-direction: row;
  }

  .naveFirstBox {
    width: 50%;
    flex-direction: row;
  }

  .favoritesHeaderTextBox {
    width: 372px;
  }

  .favoritesHeaderSearchBar {
    width: 253px;
    margin-top: 0;
  }

  .NavSecondBox {
    width: 50%;
    margin-top: 0px;
  }

  /* FavoritesList */

  .favoritesListHeader {
    width: 1250px;
  }

  .favoriteListItemBox {
    width: 1288px;
    justify-content: space-between;
  }

  .productContainer {
    justify-content: space-between;
  }

  .favoritesContainer {
    max-width: 1329px;
  }
}