.bookingDetailsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coverBox {
  width: 95%;
  height: 429px;
  flex-shrink: 0;
  border-radius: 10px;
  margin-top: 68px;
  padding-top: 30px;
  max-width: 1302px;
  min-width: 50px;
}
.BookingDetailContinent {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MapBox {
  width: 95%;
  height: 579px;
  /* max-width: 1302px; */
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 52px;
  max-width: 1302px;
}
.lastContentBox {
  width: 95%;
  height: 650px;
  /* align-items: center; */
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.backButton {
  width: 123px;
  height: 39px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.coverPhotoBox {
  border-radius: 15px;
  overflow: hidden;
  height: 47%;
  margin-top: 10px;
}
.coverPhoto {
  width: 100%;
  height: 100%;
}
.coverPhoto img {
  width: 100%;
  height: 100%;
}
.cityLocationTextBox2 {
  margin-left: 43px;
}

.DetailBoxCardHeader {
  height: 65px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.BookingDetailBox {
  margin: 0px 15px;
  width: 100%;
  max-width: 635px;
  min-width: 350px;
}
.BookingDetailBoxCard {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
}
.lastBookingDetailBoxCard {
  width: 100%;
  border-radius: 10px;
  /* margin-bottom: 30px; */
  background: #fff;
  max-width: 635px;
  min-width: 350px;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
}
/* Cards height */
/* .VisitSummary {
  height: auto;
} */
.UserDetails {
  height: auto;
}
.RejectedSummary {
  height: auto;
}
.BookingSummary {
  height: auto;
}
.EventSummary {
  height: auto;
}
.Paymentsummary {
  height: auto;
}
.HostDetails {
  height: auto;
}
.RefundSummary {
  height: auto;
  margin-bottom: 30px;
}
.CancellationSummary {
  height: auto;
  margin-bottom: 30px;
}

.DetailBoxCardHeader p {
  color: #000;
  font-family: "Poppins-Bold" !important;
  font-size: 19px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 130% !important;
}
.DetailContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}
/* Cards padding */
.VisitSummaryContent {
  padding: 15px;
}
.UserDetailsContent {
  padding: 21px 15px;
}
.RejectedSummaryContent {
  padding: 21px 15px;
}
.BookingSummaryContent {
  padding: 45px 15px;
}
.EventSummaryContent {
  padding: 21px 15px;
}
.PaymentSummaryContent {
  padding: 21px 15px;
}
.HostDetailsContent {
  padding: 21px 15px;
}
.MapBoxContent {
  padding: 21px 45px;
  align-items: center;
  /* height: 100%; */
}
.CancellationSummaryContent {
  padding: 21px 30px 21px 15px;
}
.RefundSummaryContent {
  padding: 21px 15px;
}
.DetailsCardRowBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.labelBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.labelBox p {
  width: 50%;
  color: #606060;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 130% !important;
}
.AboutProjectHeading p {
  width: 50%;
  color: #606060;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 130% !important;
}
.AboutProjectMainTextBox p {
  color: #464646;
  font-family: "Poppins-Regular" !important;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal !important;
}
.dataBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dataBox p {
  width: 50%;
  color: #1d1d1d;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  /* font-weight: 500 !important; */
  line-height: normal !important;
}
.fontWeight {
  font-weight: 700 !important;
}
.GreenText {
  color: #11c539 !important;
  font-weight: 600 !important;
}
.RedText {
  color: #f20d0d !important;
  font-weight: 600 !important;
}
.YellowText {
  color: #eb910a !important;
  font-weight: 600 !important;
}
.SpecialRequestsText {
  color: #606060;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 13px !important;
  margin-bottom: 20px !important;
}
.SpecialRequestsItem {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.SpecialRequestsItem img {
  width: 12px;
  height: 12px;
}
.SpecialRequestsItem p {
  color: #1c1c1c;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 26px !important;
  margin-left: 5px;
}
.RejectedReasonTextBox p {
  color: #464646;
  font-family: "Poppins-Regular" !important;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal !important;
}
.MapHeader {
  height: 119px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}
.MapHeaderText {
  color: #000;
  font-family: "Poppins-Bold" !important;
  font-size: 19px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 130% !important;
}
.MapSubHeaderText {
  color: #1a1a1a;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 130% !important;
}
.boxWidth {
  width: 100% !important;
}
.MapBoxContent div:nth-child(1) {
  position: absolute;
  width: 80%;
  height: 0%;
  border-radius: 15px;
  max-width: 1236px;
}
.specialTopMargin {
  padding-top: 31px;
  border-top: 1px solid #e8e8e8;
}
.eventDateBox {
  display: flex;
  flex-direction: column;
  width: 606px;
}
.e6px {
  width: 606px !important;
}
.dataBoxAlign {
  align-items: start !important;
}
.eventDateBox p {
  width: 100% !important;
}
@media only screen and (min-width: 768px) {
  .coverBox {
    width: 85%;
    height: 743.255px;
    min-width: 750px;
    margin-top: 96px;
  }
  .coverPhotoBox {
    height: 70%;
    margin-top: 30px;
  }
  .cityLocationTextBox2 {
    margin-left: 0px;
  }
  .venueLocation {
  }
  .BookingDetailContinent {
    width: 85%;
  }
  /* Cards padding */
  .VisitSummaryContent {
    padding: 45px;
  }
  .RejectedSummaryContent {
    padding: 45px 30px;
  }
  .UserDetailsContent {
    padding: 21px 45px;
  }
  .RejectedSummaryContent {
    padding: 21px 45px;
  }
  .BookingSummaryContent {
    padding: 45px 45px;
  }
  .EventSummaryContent {
    padding: 21px 45px;
  }
  .PaymentSummaryContent {
    padding: 21px 45px;
  }
  .HostDetailsContent {
    padding: 21px 45px;
  }
  .MapBoxContent {
    padding: 21px 45px;
    align-items: center;
    /* height: 100%; */
  }
  .CancellationSummaryContent {
    padding: 21px 30px 21px 45px;
  }
  .RefundSummaryContent {
    padding: 21px 45px;
  }

  /* card height */

  /* .VisitSummary {
    height: 552px;
  } */
  .UserDetails {
    height: 322px;
  }
  .RejectedSummary {
    height: 426px;
  }
  .BookingSummary {
    height: 448px;
  }
  .EventSummary {
    height: 317px;
  }
  .Paymentsummary {
    height: 330px;
  }
  .HostDetails {
    height: 175px;
  }
  .RefundSummary {
    height: 276px;
    margin-left: 15px;
  }
  .UserSummary {
    margin-left: 15px;
    height: 489px;
  }
  .HostSummary {
    margin-left: 15px;
    height: auto;
  }
  .CancellationSummary {
    height: 276px;
    margin-right: 15px;
  }
  .EventSummary {
    height: auto;
    margin-right: 15px;
    /* height: 489px; */
  }

  .BookingDetailBox {
    width: 50%;
    min-width: 584px;
  }
  .DetailBoxCardHeader {
    padding-left: 45px;
  }
  .SpecialRequestsItem {
    margin-bottom: 0px;
  }
  .lastContentBox {
    width: 100%;
    flex-direction: row;
    height: auto;
    max-width: 1302px;
  }
  .lastBookingDetailBoxCard {
    width: 50%;
    min-width: 584px;
  }
  .MapBox {
    width: 95%;
    margin-bottom: 30px;
  }
  .MapHeader {
    padding-left: 45px;
  }
  .CancellationSummaryContent {
    padding: 21px 30px 21px 45px;
  }
  .RefundSummaryContent {
    padding: 21px 45px;
  }
  .visitSummary {
    max-width: 1302px;
  }
  .visitSummary {
    max-width: 1302px;
  }
}
