.navBar {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
  background: #fff;
  top: 0px;
  z-index: 999;
}

.profileTab {
  width: 50px;
  height: 50px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 27px;
  padding: 5px;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
}

.profileNameVisibility {
  display: none;
}

.avatarBox {
  width: 40px;
  height: 40px;
  border-radius: 21px;
  overflow: hidden;
  position: relative;
}

.profileTabDownarrow {
  position: absolute;
  margin-left: 47px;
}

.notificationIcons img {
  width: 22px;
  height: 22px;
  margin: 0px 10px;
  cursor: pointer;
}

.searchBar {
  /* margin: 0px 30px; */
  position: relative;
  display: none;
}

.searchField {
  width: 293px;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: -135px;
  top: 26px;
}

.searchInput input {
  height: 0px !important;
  padding-left: 55px;
  background-color: #f2f2f3;
  border-radius: 22px;
}

.searchInput fieldset {
  border-radius: 72px !important;
}

.NavTextVisibility {
  display: none;
}

/* Notification PopUp */
.notificationSPopUp {
  width: 368px;
  height: 489px;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 33px;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 96px;
}

.notificationSHeader {
  height: 333px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e2e5f0;
  position: relative;
}

.notificationSHeader p {
  color: #1f212a;
  text-align: center;
  font-family: "Poppins-Regular" !important;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal !important;
}

.notificationSContainer {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.notificationPopUpSeeAllBtn {
  height: 293px;
  border-radius: 0px 0px 33px 33px;
  background: #ea4335;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notificationPopUpSeeAllBtn p {
  color: #fff;
  font-family: "Poppins-Regular" !important;
  font-size: 19px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal !important;
}

.sNotiUserTime {
  position: absolute;
  top: -29px;
  right: 145px;
  width: 84px;
}

.SNotiUserInfo {
  width: 236px;
}

/* Notification popup */
.NotificationPupUp {
  flex-direction: column;
  width: 368px;
  height: 766px;
  border-radius: 33px;
  border: 3px solid #e3e6f1;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 93px;
  overflow: hidden;
}

.notificationHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px 12px 16px 12px;
  border-bottom: 1px solid #e2e5f0;
}

.notificationHeaderBox1 {}

.notificationHeaderBox2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.notiHeaderText {
  color: #1f212a;
  font-family: "Poppins-Regular" !important;
  font-size: 30px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal !important;
}

.notiSubText {
  color: #0060e1;
  font-family: "Poppins-Regular" !important;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal !important;
}

.notificationContainer {
  display: flex;
  flex-direction: column;
}

.notiLeftBox {
  width: 100%;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
  overflow: scroll;
  display: flex;
  flex-direction: row;
}

.top_Date {
  padding-left: 20px;
  margin: 5px 0;
}

.top_Date p {
  color: #59657e;
  font-family: "Poppins-Regular" !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
}

.NotiUserRow {
  height: 124px;
  max-height: 124px;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  align-items: center;
  border-bottom: 1px solid #e2e5f0;
  position: relative;
  padding-right: 20px;
  flex: 0 0 395px;
}

.photoBox {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
}

.userPhoto {
  width: 85px;
  position: relative;
  height: 85px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.NotiUserPhoto {
  width: 100%;
  height: 100%;
}

.NotiRedDot {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 82px;
  left: 88px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
}

.notiUserInfo {
  display: flex;
  flex-direction: column;
  position: relative;
}

.notiUserName {
  color: #1f212a;
  font-family: "Poppins-Regular" !important;
  font-size: 17px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 21px !important;
}

.notiUserInfo span {
  color: #59657e;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 21px !important;
}

.userNotiDate {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 5px;
}

.userNotiDate p {
  color: #777272;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: normal !important;
  margin-top: 1px;
}

.notiRightBox {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 56vh;
  overflow: scroll;
}

.user_info {
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
}

.user_infoText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35px;
}

.User_name {
  color: #1f212a;
  font-family: "Poppins-Regular" !important;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal !important;
}

.User_date {
  color: #1d1d1d;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal !important;
}

.user_Summary {
  display: flex;
  flex-direction: column;
}

.user_Summary_text {
  color: #000;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 20px !important;
  margin-bottom: 10px !important;
}

.user_Summary_sub_text {
  color: #1c1c1c;
  font-family: "Poppins-Regular" !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 25px !important;
}

.whiteCrossIcon {
  position: absolute;
  right: -54px;
  top: -118px;
  cursor: pointer;
}

.white_CrossIcon {
  position: absolute;
  right: -30px;
  top: -26px;
  cursor: pointer;
}

.disMob {
  display: none;
}

.search_Field {
  width: 220px !important;
}

.search_Field div {
  width: 210px !important;
}

@media only screen and (min-width: 768px) {
  .navBar {
    height: 96px;
  }

  .companyLogo {
    /* margin: 0px 30px; */
  }

  .searchBar {
    /* margin: 0px 30px; */
  }

  .searchField {
    width: 352px;
    height: 46px;
    display: flex;
    flex-direction: row;
    position: relative;
    right: 0;
    top: 0;
  }

  .searchInput input {
    height: 11px !important;
    padding-left: 55px;
    background-color: #f2f2f3;
    border-radius: 22px;
  }

  .searchInput fieldset {
    border-radius: 72px !important;
  }

  .notificationIcons {
    /* margin: 0px 30px; */
    min-width: 126px;
  }

  .host {
    /* margin: 0px 30px; */
    min-width: 123px;
  }

  .booking {
    /* margin: 0px 30px; */
  }

  .profile {
    /* margin: 0px 30px; */
  }

  .profileTab {
    width: 195px;
    height: 54px;
    padding: 7px;
  }

  .profileNameVisibility {
    display: block;
  }

  .profileTabDownarrow {
    margin-left: 159px;
  }

  .top-links {
    display: flex;
    gap: 50px;
  }

  .NavTextVisibility {
    display: block;
  }

  /* Nav popup */
  .NotificationPupUp {
    width: 803px;
    top: 130px;
  }

  .notiLeftBox {
    width: 609px;
    height: 669px;
    flex-direction: column;
  }

  .notiRightBox {
    width: 857px;
    display: flex;
    flex-direction: column;
    padding: 50px 50px 0px 50px;
    overflow: scroll;
    height: 638px;
    overflow-x: hidden;
  }

  .notificationSPopUp {
    width: 480px;
    height: 682px;
    top: 130px;
  }

  .notificationContainer {
    flex-direction: row;
  }

  .NotiUserRow {
    flex: 0 0 124px;
  }

  .notificationHeader {
    padding: 16px 80px 16px 47px;
    flex-direction: row;
  }

  .disMob {
    display: block;
  }

  .search_Field {
    width: 332px !important;
  }

  .search_Field div {
    width: 306px !important;
  }

  .sNotiUserTime {
    top: 4px;
    right: -102px;
  }

  .whiteCrossIcon {
    right: -111px;
    top: -58px;
  }
}

/* Desktop view */
@media only screen and (min-width: 1000px) {
  .NotificationPupUp {
    width: 1300px;
    height: 766px;
  }

  .notiLeftBox {
    width: 440px;
  }

  .notiRightBox {
    width: 857px;
    display: flex;
    flex-direction: column;
    padding: 50px 50px 0px 50px;
  }
}