.propertiesContainer {
  width: 100%;
  height: 500px;
  margin-bottom: 5%;
}
.propertiesHeader {
  margin-bottom: 14px;
  margin-top: 34px;
}
.propertiesHeader p {
  color: #333;
  font-family: "Poppins-Bold" !important;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal !important;
  margin-left: 3%;
}
.propertiesBox {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.propertiesRenderBox {
  display: flex;
  width: 100%;
  height: 400px;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll;
}
.propertiesRenderBox > * {
  flex: 0 0 244px;
}
.propertiesCard {
  width: 245px;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: 0px 10px;
}
.imageBox {
  width: 100%;
  height: 250px;
}
.logo_Box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 40px;
  background: #fff;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 4px #0000000a;
  border-radius: 100px;
  padding: 0 10px;
  position: absolute;
  bottom: 115px;
  left: 186px;
}
.verifyTab {
  position: absolute;
  top: 19px;
  left: 15px;
  width: 81px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}
.verifyTab p {
  color: var(--shade-02, #222);
  font-family: "Poppins-Regular" !important;
  font-size: 10px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: normal !important;
  margin-left: 5px;
}
.borderHeartLogo {
  position: absolute;
  top: 19px;
  left: 212px;
}
.CardTextBox {
  display: flex;
  flex-direction: row;
  padding: 20px 8px 0px 0px;
  justify-content: space-between;
}
.cardText {
  display: flex;
  flex-direction: column;
}
.cardText2nd {
  align-items: end;
}
.cardText1stHeader {
  font-family: "Poppins-Bold" !important;
  font-size: 13px !important;
  margin-bottom: 5px !important;
  font-weight: 600 !important;
  color: #333;
}
.cardSubText {
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  color: #ea4335;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 24px !important;
}
.cardSubImr {
  color: #808184;
  font-family: "Poppins-Regular" !important;
  font-size: 10px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 24px !important;
}
.cardSubTextBox {
  display: flex;
  flex-direction: row;
}
.cardStarBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
}
.cardStarBox span {
  font-size: 10px;
  color: #333;
  font-family: "Poppins-Regular" !important;
}
.cardLocationHeader {
  font-size: 16px;
  color: rgb(51, 51, 51);
  font-family: "Poppins-Bold" !important;
}
.cardLocationBox {
  display: flex;
  align-items: center;
}
.cardLocationBox img {
  width: 10px;
  height: 14px;
  margin-right: 5px;
  position: relative;
  bottom: 21%;
}
.cardLocationBox span {
  font-size: 12px;
  color: #222;
  font-family: "Poppins-Regular" !important;
  max-width: 115px;
  text-align: right;
}
@media only screen and (min-width: 768px) {
  .propertiesHeader p {
    font-size: 35px !important;
    margin-left: 0%;
  }
  .propertiesHeader {
    margin-bottom: 34px;
    margin-top: 57px;
  }
  .propertiesRenderBox {
    width: 1298px;
    overflow: inherit;
    overflow-x: hidden;
  }
  .propertiesRenderBox > * {
    flex: 0 0 304px;
  }
  .propertiesCard {
    width: 304px;
  }
  .borderHeartLogo {
    left: 269px;
  }
  .logo_Box {
    left: 241px;
    bottom: 129px;
  }
  .CardTextBox {
    padding: 20px 8px 0px 11px;
  }
  .cardText1stHeader {
    font-size: 18px !important;
  }
  .propertiesBox {
    width: 1276px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .propertiesContainer {
    display: flex;
    justify-content: center;
  }
}
