.propertiesContainer {
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}
.propertiesHeader {
  margin-bottom: 14px;
  margin-top: 34px;
}
.propertiesHeader p {
  color: #333;
  font-family: "Poppins-Bold" !important;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal !important;
  margin-left: 3%;
}
.propertiesBox {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.propertiesRenderBox {
  display: flex;
  width: 100%;
  height: 400px;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll;
  overflow-y: hidden;
}
.propertiesRenderBox > * {
  flex: 0 0 280px;
  margin: 0 10px;
}

.imageBox {
  width: 100%;
  height: 250px;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}

.verifyTab {
  position: absolute;
  top: 19px;
  left: 15px;
  width: 81px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}
.verifyTab p {
  color: var(--shade-02, #222);
  font-family: "Poppins-Regular" !important;
  font-size: 10px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: normal !important;
  margin-left: 5px;
}

.CardTextBox {
  display: flex;
  flex-direction: row;
  padding: 20px 8px 0px 0px;
  justify-content: space-between;
}
.cardText {
  display: flex;
  flex-direction: column;
}
.cardText2nd {
  align-items: end;
}

.cardSubText {
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  color: #ea4335;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 24px !important;
}
.cardSubImr {
  color: #808184;
  font-family: "Poppins-Regular" !important;
  font-size: 10px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 24px !important;
}
.cardSubTextBox {
  display: flex;
  flex-direction: row;
}

.cardStarBox span {
  font-size: 10px;
  color: #333;
  font-family: "Poppins-Regular" !important;
}
.cardLocationHeader {
  font-size: 16px;
  color: rgb(51, 51, 51);
  font-family: "Poppins-Bold" !important;
}
.cardLocationBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 7px;
}
.cardLocationBox img {
  width: 10px;
  height: 14px;
  margin-right: 5px;
  position: relative;
  bottom: 21%;
}
.cardLocationBox span {
  font-size: 12px;
  color: #222;
  font-family: "Poppins-Regular" !important;
  text-align: right;
}
.propertyCardMIcons {
  width: 15px;
  height: 16px;
  margin: 0 5px;
}
/* Tab */
@media only screen and (min-width: 768px) {
  .propertiesHeader p {
    font-size: 35px !important;
    margin-left: 0%;
  }
  .propertiesHeader {
    margin-bottom: 34px;
    margin-top: 45px;
    padding-left: 20px;
  }
  .propertiesRenderBox {
    width: 100%;
    overflow: inherit;
    overflow: scroll;
  }
  .propertiesCard {
    width: 304px;
  }

  .logo_BoxComparePage {
    right: 15px !important;
    bottom: 78px !important;
  }
  .CardTextBox {
    padding: 20px 8px 0px 11px;
  }

  .propertiesBox {
    width: 100%;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .propertiesContainer {
    display: flex;
    justify-content: center;
  }
}

/* desktop */
@media only screen and (min-width: 1200px) {
  .propertiesHeader p {
    font-size: 35px !important;
    margin-left: 0%;
  }
  .propertiesHeader {
    margin-bottom: 34px;
    margin-top: 57px;
  }
  .propertiesRenderBox {
    width: 1328px;
    overflow: inherit;
    overflow-x: hidden;
  }
  .propertiesCard {
    width: 304px;
  }

  .logo_BoxComparePage {
    right: 15px !important;
    bottom: 78px !important;
  }
  .CardTextBox {
    padding: 20px 8px 0px 11px;
  }

  .propertiesBox {
    width: 1328px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .propertiesContainer {
    display: flex;
    justify-content: center;
  }
}
