@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "Poppins-Regular";
  src: url("./Assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./Assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

.poppins {
  font-family: "Poppins-Regular" !important;
}

.poppinsBold {
  font-family: "Poppins-Bold" !important;
}

.pointer {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Poppins', sans-serif !important;
}

/* Target the element you want to customize the scroll bar for */
body {
  /* Set the width of the scrollbar */
  scrollbar-width: thin;
  /* "thin", "auto", or "none" based on your preference */
  font-family: 'Poppins', sans-serif !important;
}

/* Target the scrollbar thumb and track in WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
  /* Width of the scrollbar */
}

/* Set the color of the scrollbar thumb in WebKit-based browsers */
::-webkit-scrollbar-thumb {
  background-color: #5c5c5c2d;
  /* Color of the scrollbar thumb */
}

/* Set the color of the scrollbar track in WebKit-based browsers */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Color of the scrollbar track */
}

/* Target the scrollbar thumb and track in Mozilla-based browsers (Firefox) */
::-moz-scrollbar {
  width: 5px;
  /* Width of the scrollbar */
}

/* Set the color of the scrollbar thumb in Mozilla-based browsers */
::-moz-scrollbar-thumb {
  background-color: #55555541;
  /* Color of the scrollbar thumb */
}

/* Set the color of the scrollbar track in Mozilla-based browsers */
::-moz-scrollbar-track {
  background-color: #f1f1f1;
  /* Color of the scrollbar track */
}

body:hover {
  overflow: auto;
}