.couponContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 145px;
  margin-bottom: 80px;
}
.CreateCouponBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
  padding: 5px;
}
.couponNavBar {
  width: 100%;
  height: 100px;
  border-bottom: #ededed 1px solid;
  padding: 39px 30px 0 30px;
}
.couponNavBar p {
  color: #000;
  font-family: "Poppins-Bold" !important;
  font-size: 27px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
  text-align: center;
}
.FirstInnerBox {
  height: auto;
  border-bottom: #ededed 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 33px;
  align-items: center;
}
.cupInputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.coupon {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}
.coupon input {
  width: 393px !important;
  height: 18px !important;
}
.InputLabelText {
  color: #202020;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 130% !important;
  margin-bottom: 17px !important;
}
.SecondFieldBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.SecondRadioBox {
  padding: 0 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.radioLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.radioLabel input {
  cursor: pointer;
}
.radioLabelText {
  color: #202020;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 130% !important;
  margin-left: 5px !important;
}
.SecondInnerBox {
  padding-top: 30px;
}
.couponBookingIDInputFieldBox {
  width: 100%;
}
.couponLocationIDInputFieldBox {
  width: 100%;
}
.couponEmailIDInputFieldBox {
  width: 100%;
}
.CouponButtonBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 43px;
}
.CouponButtonBox p {
  color: #fff;
  font-family: "Poppins-Regular" !important;
  font-size: 17px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 130% !important;
}
.couponCancelBtn {
  width: 172px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #170302;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s;
  margin-bottom: 16px;
}
.couponCancelBtn:hover {
  background: #380905;
}
.couponCodeBtn {
  width: 350px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #ea4335;
  background: #ea4335;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s;
}
.couponCodeBtn:hover {
  background: #c73a2d;
}
.CouponTypeDArrow {
  position: absolute;
  top: 81px;
  right: 11px;
  cursor: pointer;
}
.CouponTypeDBox {
  flex-direction: column;
  width: 100%;
  background: #ebebeb;
  position: absolute;
  top: 107px;
  /* right: 0px; */
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(214, 214, 214);
  z-index: 9;
}
.CDItems {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(214, 214, 214);
  cursor: pointer;
  transition: background 0.5s;
}
.CDItems:hover {
  background: #ea44352f;
}

/* Tab view*/
@media only screen and (min-width: 768px) {
  .CreateCouponBox {
    height: auto;
    padding: 0;
    padding: 25px;
  }
  .FirstInnerBox {
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    padding: 10px;
    justify-content: center;
    align-items: start;
  }
  .SecondFieldBox {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: start;
  }
  .CouponButtonBox {
    flex-direction: row;
    justify-content: end;
    padding-right: 31px;
  }
  .couponCancelBtn {
    margin-bottom: 0;
  }
  .couponCodeBtn {
    width: 393px;
    margin-left: 23px !important;
  }
  .SecondRadioBox {
    justify-content: center;
  }
  .cupInputBox {
    width: 393px;
  }
  .couponBookingIDInputFieldBox {
    width: 393px;
  }
  .couponLocationIDInputFieldBox {
    width: 393px;
  }
  .couponEmailIDInputFieldBox {
    width: 393px;
  }
}
/* Desktop view */
@media only screen and (min-width: 1000px) {
  .CreateCouponBox {
    width: 1300px;
    height: 783px;
  }
  .FirstInnerBox {
    height: 363px;
    justify-content: space-between;
  }
  .SecondFieldBox {
    justify-content: space-between;
  }
  .SecondRadioBox {
    justify-content: start;
  }
  .couponNavBar p {
    text-align: inherit;
  }
}
